<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tulsi's Personal Navigator</title>


</head>
<body bgcolor="#F9F9F9">

<div class="container">
    <center><h1 style='color:#325288; font-family:verdana;'><u>Welcome to Tulsi's Personal Navigator</u></h1></center>

<table>
    <br>
    <tr>

        <td></td><td></td><td></td><td></td><td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        <td><b><p style='color:#325288; font-family:verdana;'><i>My Favourite YouTube Channels</i></p></b></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><b><p style='color:#325288; font-family:verdana;'><i>Social Media Sites</i></p></b></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><b><p style='color:#325288; font-family:verdana;'><i>Live Darshan</i></p></b></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><b><p style='color:#325288; font-family:verdana;'><i>Online Music</i></p></b></td>
    </tr>

    <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        <td><big><a href="https://www.youtube.com/c/CodeWithHarry" target="blank" style='color:red;'>CodeWithHarry</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://www.youtube.com" target="blank" style='color:red;'>YouTube</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://www.dwarkadhish.org/" target="blank" style='color:red;'>Dwarkadhish Live Darshan</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://www.jiosaavn.com/" target="blank" style='color:red;'>Jio Saavn</a><br><br></big></td>
    </tr>
      <tr>
           <td></td><td></td><td></td><td></td><td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
           <td><big><a href="https://www.youtube.com/c/AmanDhattarwal" target="blank" style='color:red;'>Aman Dhattarwal</a><br><br></big></td>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          <td><big><a href="https://in.pinterest.com" target="blank" style='color:red;'>Pinterest</a><br><br></big></td>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          <td><big><a href="https://www.somnath.org/" target="blank" style='color:red;'>Somnath Live Darshan</a><br><br></big></td>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          <td><big><a href="https://gaana.com/" target="blank" style='color:red;'>Gaana</a><br><br></big></td>


      </tr>

    <tr>
         <td></td><td></td><td></td><td></td><td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        <td><big><a href="https://www.youtube.com/channel/UCBwmMxybNva6P_5VmxjzwqA" target="blank" style='color:red;'>Apna College</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://web.whatsapp.com" target="blank" style='color:red;'>WhatsApp Web</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://www.nathdwaratemple.org/" target="blank" style='color:red;'>Shrinathji Live Darshan</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://wynk.in/music" target="blank" style='color:red;'>Wynk Music</a><br><br></big></td>


    </tr>

    <tr>
         <td></td><td></td><td></td><td></td><td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        <td><big><a href="https://www.youtube.com/c/LoveBabbar1" target="blank" style='color:red;'>Love Babbar</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://in.linkedin.com/" target="blank" style='color:red;'>LinkedIn</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://shraddha.mhone.in/" target="blank" style='color:red;'>Maa Vaishno Devi Live Darshan</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://www.spotify.com/us/" target="blank" style='color:red;'>Spotify</a><br><br></big></td>
    </tr>

    <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        <td><big><a href="https://www.youtube.com/c/SandeepSeminars" target="blank" style='color:red;'>Sandeep Maheshwari</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://www.instagram.com" target="blank" style='color:red;'>Instagram</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://ranchhodraiji.org/LiveDarshan" target="blank" style='color:red;'>Shri Ranchhodraiji Live Darshan</a><br><br></big></td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td><big><a href="https://www.hungama.com/" target="blank" style='color:red;'>Hungama</a><br><br></big></td>

    </tr>




</table>


<!--                        <a href="https://www.youtube.com/c/AmanDhattarwal" target="blank">Aman Dhattarwal</a><br><br>-->
<!--                        <a href="https://www.youtube.com/channel/UCBwmMxybNva6P_5VmxjzwqA" target="blank">Apna College</a><br><br>-->
<!--                        <a href="https://www.youtube.com/c/LoveBabbar1" target="blank">Love Babbar</a><br><br>-->
<!--                        <a href="https://www.youtube.com/c/SandeepSeminars" target="blank">Sandeep Maheshwari</a><br><br>-->
<!--                        <a href="https://www.linkedin.com/login?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fcompany%2Flogin&fromSignIn=true&trk=organization_guest_nav-header-signin" target="blank">LinkedIn</a><br><br>-->
<!--                        <a href="https://www.onlinegdb.com/" target="blank">GDB Online Compiler and Debugger</a><br><br>-->
<!--                        <a href="https://web.whatsapp.com/" target="blank">Whatsapp Web</a><br><br>-->
<!--                        <a href="https://git.org.in/" target="blank">Gandhinagar Institute of Technology</a>-->
</div>

</body>
</html>